<div>
  <h4>Participant Groups</h4>
  <ul class="fa-ul">
    <!-- categories -->
    <li class="high-enough-for-labels"
        ng-repeat="(categoryLabel, groups) in vm.categories"
        role="button">
          <div ng-click="vm.toggleCategory(categoryLabel)">
            <i class="fa fa-li" ng-class="{'fa-check-square-o': vm.isCategorySelected(categoryLabel), 'fa-square-o': !vm.isCategorySelected(categoryLabel)}"></i>
            <strong ng-bind="categoryLabel"></strong>
          </div>

        <ul class="fa-ul">
          <!-- groups -->
          <li class="high-enough-for-labels"
              ng-repeat="group in groups track by group.id"
              ng-click="vm.toggleGroup(group)"
              role="button">

                <i class="fa fa-li" ng-class="{'fa-check-square-o': vm.isGroupSelected(group), 'fa-square-o': !vm.isGroupSelected(group)}"></i>
                <span ng-bind="vm.participantCount(group)" class="label label-default pull-right"></span>
                <span ng-class="{'text-muted': !vm.isGroupSelected(group)}" ng-bind="group.label"></span>
          </li>

          <li class="high-enough-for-labels"
              ng-click="vm.toggleNotInCategory(categoryLabel)"
              role="button">
            <i class="fa fa-li" ng-class="{'fa-check-square-o': vm.isNotInCategorySelected(categoryLabel), 'fa-square-o': !vm.isNotInCategorySelected(categoryLabel)}"></i>
            <em ng-class="{'text-muted': !vm.isNotInCategorySelected(categoryLabel)}">No Group</em>
          </li>
        </ul>
    </li>

    <li ng-hide="vm.categories">
      <em class="text-muted">No categories available</em>
    </li>
  </ul>
</div>
