
<div ng-app="labking">
  <div ng-include="'<%=contextPath%>/labking/js/layout/shell.html'"></div>

  Hey!

  <div id="splash-page" ng-show="showSplash">
    <div class="page-splash">
      <div class="page-splash-message">
        labKing
      </div>
      <div class="progress progress-striped active page-progress-bar">
        <div class="bar"></div>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" type="text/css" href="<%=contextPath%>/labking/styles/index.min.css">
<script src="<%=contextPath%>/labking/js/index.js"></script>
