<div class="row">
  <div class="col-xs-12 col-sm-3">
    <h4>Cohort list</h4>
    <ul class="list-group">
      <li class="list-group-item"
            ng-class="{'list-group-item-info': isCohortSelected(cohort), 'text-muted': !isCohortSelected(cohort)}"
            ng-repeat="cohort in cohorts"
            ng-click="toggleCohort(cohort)"
            ng-bind="cohort.label"
            role="button">
        </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-9">
      <button class="btn btn-large btn-primary pull-right" type="button" disabled="disabled">Add participant</button>
      <h4>Participants</h4>
      <ul class="list-group">
        <li class="list-group-item"
            ng-class="{'list-group-item-info': isParticipantSelected(participant)}"
            ng-repeat="participant in filteredParticipants"
            ng-click="selectParticipant(participant)"
            ng-bind="participant.ParticipantId"
            role="button">
        </li>
      </ul>
  </div>
</div>
