<div class="row">
  <div class="col-sm-3">

    <h4>
      Cohorts
      <small ng-hide="vm.isCategoryIgnored(categoryLabel)">
        <a ng-click="vm.selectAllCohorts()">All</a>
        /
        <a ng-click="vm.selectNoCohorts()">None</a>
      </small>
    </h4>
    <ul class="fa-ul">
      <li class="high-enough-for-labels"
          ng-repeat="cohort in vm.cohorts"
          ng-click="vm.toggleCohort(cohort)"
          role="button">
        <i class="fa fa-li" ng-class="{'fa-check-square-o': vm.isCohortSelected(cohort), 'fa-square-o': !vm.isCohortSelected(cohort)}"></i>
        <span ng-class="{'text-muted': !vm.isCohortSelected(cohort)}" ng-bind="vm.participantCount(cohort)" class="label label-default pull-right"></span>
        <span ng-class="{'text-muted': !vm.isCohortSelected(cohort)}" ng-bind="cohort.label"></span>
      </li>
      <li class="high-enough-for-labels"
          ng-click="vm.toggleCohort({rowid: null})"
          role="button">
        <i class="fa fa-li" ng-class="{'fa-check-square-o': vm.isCohortSelected({rowid: null}), 'fa-square-o': !vm.isCohortSelected({rowid: null})}"></i>
        <span ng-class="{'text-muted': !vm.isCohortSelected({rowid: null})}" ng-bind="vm.participantCount({rowid: null})" class="label label-default pull-right"></span>
        <em ng-class="{'text-muted': !vm.isCohortSelected({rowid: null})}">No Cohort</em>
      </li>
    </ul>

    <participant-group-filter on-filter-change="vm.updateParticipantGroupFilter(participantIDs)"></participant-group-filter>

    <div class="well">
    Showing {{ vm.filteredParticipants.length }} of {{ vm.allParticipants.length }} participants
    </div>
  </div>

  <div class="col-sm-9">
      <div>
        <button class="btn btn-large btn-primary pull-right" type="button" ng-click="vm.openAddParticipantModal()"><span class="fa fa-fw fa-plus"></span>Add participant</button>

        <div class="form-inline">
          <div class="form-group has-feedback">
            <label for="labking-participant-search">Search</label>
            <input type="search" class="form-control" id="labking-participant-search" placeholder="{{vm.searchFields.join(', ')}}" autofocus ng-model="vm.participantSearchText">
            <a ng-show="vm.participantSearchText" ng-click="vm.clearSearch()" class="text-muted">
              <span class="fa fa-remove form-control-feedback"></span>
            </a>
          </div>
        </div>
      <div>

      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Participant ID</th>
            <th>Year of Birth</th>
          </tr>
        </thead>
        <tbody>
          <tr
              ng-class="{'list-group-item-info': vm.isParticipantSelected(participant)}"
              dir-paginate="participant in vm.filteredParticipants | filter: vm.participantSearchFilter | itemsPerPage: 10"
              ng-click="vm.selectParticipant(participant)"
              role="button">
            <td><span class="label label-primary" ng-bind="participant[vm.subjectNoun]"></span></td>
            <td ng-bind="vm.getValueFromLookup('IgYears', participant.keyInfo.YearOfBirth)"</td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls></dir-pagination-controls>
  </div>
</div>
