<div class="row">
  <div class="jumbotron">
    <div class="container">
        <h2>{{vm.getParticipantName()}}</h2>
        <dl class="dl-horizontal">
          <dt>NHS #:</dt>
          <dd ng-bind="vm.getEnrolmentDataSet().NHSNumber"></dd>
          <dt>MRN #:</dt>
          <dd ng-bind="vm.getEnrolmentDataSet().MRNNumber"></dd>
          <dt>Date of birth:</dt>
          <dd ng-bind="vm.getEnrolmentDataSet().DOB | date: 'shortDate'"></dd>
        </dl>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"
          ng-class="{active: vm.selectedCategory == category}"
          ng-repeat="(categoryName, category) in vm.categories" >
        <a aria-controls="home" role="tab"
            ng-bind="categoryName"
            ng-click="vm.selectCategory(category)"></a>
      </li>
    </ul>

    <h3 class="nav-header">Dataset:</h3>
    <ul class="nav nav-pills nav-padded">
      <li role="presentation"
            ng-class="{active: vm.selectedDataSet == dataSet}"
            ng-repeat="dataSet in vm.selectedCategory">
          <a aria-controls="home" role="tab"
            ng-bind="dataSet.Label"
            ng-click="vm.selectDataSet(dataSet)"></a>
      </li>
    </ul>


  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <dataset-view
        participant="vm.participant"
        dataset="vm.selectedDataSet"
        on-edit="vm.openEditModal(entry)">
    </dataset-view>
    <a class="btn btn-success" ng-if="vm.canAddEntries()" ng-click="vm.openEditModal()">Add entry</a>
  </div>
</div>

